<f:layout name="Default" />

<f:section name="Title">Edit club "{club.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{club}" objectName="club">
		<ol>
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="league">League</label>
				<f:form.select property="league" id="league" options="{leagues}" optionLabelField="name"/>
			</li>
		
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>