<f:layout name="Default" />

<f:section name="Title">New league</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new league:</p>

	<f:form action="create" objectName="newLeague">
		<ol>
			<li>
				<label for="name">League</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="country">Country</label>
				<f:form.select property="country" id="country" options="{countries}" optionLabelField="name"/>
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>